<div class="container mt-2">
    <div class="card-deck">
        <div class="card" *ngFor="let video of videos$ | async" >
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">ID: {{video.id}}</h5>
            <h5 class="card-title">{{video.video_title}}</h5>
            <p class="card-text">{{video.description}}</p>
          </div>
          <div class="card-footer">
            <li class="list-group-item">{{video.creator}}</li>
            <li class="list-group-item">{{video.length}} mins</li>
            <li class="list-group-item">$ {{video.cost}}</li>
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        
    </div>
</div>
