
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">
            Your Shopping Cart
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <!-- start of table row -->
              <tr *ngFor="let cartVideo of cartVideos$ | async">
                <td class="w-25">
                  <img src="{{cartVideo.video.img_path}}" class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td>{{cartVideo.video.video_title}}</td>
                <td>${{cartVideo.video.cost}}</td>
                <td class="qty"><input type="text" class="form-control" id="input1" value="{{cartVideo.numberOfItems}}" disabled></td>
                <td>${{ cartVideo.video.cost * cartVideo.numberOfItems }}</td>
                <td>
                  <a href="#" class="btn btn-danger btn-sm">
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
              <!-- end of table row -->
            </tbody>
          </table> 
          <div class="d-flex justify-content-end">
            <h5>Total: <span class="price text-success"> ${{ htmlGrandTotal }}</span></h5>
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Checkout</button>
        </div>
      </div>
    </div>
