<nav class="navbar navbar-expand navbar-dark bg-primary justify-content-between">
  <a class="navbar-brand">Video Catelog</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/login" href="#">Login </a>
      <a class="nav-item nav-link active" routerLink="/" href="#">Home </a>
      <a class="nav-item nav-link" routerLink="/cart" href="#">View Cart</a>
      <a class="nav-item nav-link" routerLink="/checkout" href="#">Check Out</a>
      <a class="nav-item nav-link" routerLink="/orders" href="#">View Orders</a>
    </div>
  </div>

  <span class="navbar-text" ng-if="(user$ | async)?.value!== '' ">
     {{ '' + (user$ | async)?.value}}
  </span>
  
</nav>
<router-outlet></router-outlet>